[Unit]  
Description=remotedesktop
#After=network.target  
After=spice-vdagentd.service
   
[Service]  
Type=simple
PIDFile=/var/run/remotedesktop/remotedesktop.pid
Environment=DISPLAY=:0
ExecStart=/usr/bin/remotedesktop
ExecReload=  
ExecStop=
#PrivateTmp=true  
   
[Install]  
WantedBy=graphical.target
